body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

.h-left {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    margin-right: auto;
    padding: 18px 0;
}

.h-right {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
    gap: 18px;
    padding: 18px 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 0 0%;
}

.content-a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1f2937;
    padding: 50px 100px;
    gap: 20px;
}

.content-a h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
}

.a-left {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 600px;
}

.a-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 900;
    padding: 8px 32px;
    border-radius: 8px;
}

.a-right {
    display: flex;
    background-color: #e3e3e3;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 500px;
    height: 250px;
    padding: 0px 50px;
    max-width: 600px;
}

.content-b {
    display: flex;
}

.content-c {
    display: flex;
}

.content-d {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 34px;
}