body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    padding: 0px;
}

.h-bound {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 1250px;
}

.h-left {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    margin-right: auto;
    padding: 18px 0;
}

.h-right {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
    gap: 18px;
    padding: 18px 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    flex: 1 0 0%;
}

.content-a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1f2937;
    box-sizing: border-box;
    width: 100vw;
    padding: 50px 100px;
    gap: 50px;
}

.content-a h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
}

.a-left {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 600px;
}

.a-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 900;
    padding: 8px 32px;
    border-radius: 8px;
}

.a-right {
    display: flex;
    background-color: #e3e3e3;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 500px;
    height: 250px;
    padding: 0px 50px;
    max-width: 600px;
}

.content-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 100px;
    max-width: 1250px;
}

.content-b h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.b-head {
    flex: 1;
}

.b-body {
    display: flex;
    max-width: 1250px;
    gap: 50px;
}

.b-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 175px;
    flex-wrap: wrap;
    text-align: center;
    gap: 8px;
}

.b-img {
    width: 175px;
    height: 175px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.b-text {
    font-size: 18px;
    color: #1F2937;
}

.content-c {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    box-sizing: border-box;
    background-color: #E5E7EB;
    width: 100vw;
    height: 400px;
    padding: 50px 100px;
}

.c-box {
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.c-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    width: 800px;
}

.c-attr {
    text-align: right;
    color: #1F2937;
    font-size: 28px;
    font-weight: 900;
}

.content-d {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.d-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 40px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #E5E7EB;
    width: 1000px;
}

.d-left {
    margin: 0px 0px 0px 80px;
}

.d-right {
    margin: 0px 80px 0px 0px;
}

.d-left h3 {
    color: #f9f9f9;
    margin: 0px;
    padding: 0px 0px 5px 0px;
    font-size: 22px;
    font-weight: 700;
}

.d-right button {
    border: 2px solid #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    box-sizing: border-box;
    padding: 34px;
    width: 100vw;
}