body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}

.h-left {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    margin-right: auto;
    padding: 18px;
}

.h-right {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
    gap: 18px;
    padding: 18px;
}